<div class="absolute inset-0 h-[700px] overflow-hidden -z-10">
  <img src={'https://4kwallpapers.com/images/walls/thumbs_3t/22300.jpg'}
  alt="Background"
  class="w-full h-full object-cover opacity-40" 
  />
  <div class="absolute inset-0 bg-gradient-to-t from-white to-transparent backdrop-blur-xs"></div>
</div>

<div class="max-w-6xl mx-auto w-full overflow-hidden relative h-[500px] bg-zinc-600 mt-8 rounded-xl">
    <!-- Right Side -->
    <div class="absolute right-0 top-0 w-1/2 h-full">
        <img src={'https://4kwallpapers.com/images/walls/thumbs_3t/22300.jpg'}
        alt="Game Scene"
        class="w-full h-full object-cover object-center" 
        />
    </div> 
  
      <!-- Left Side -->
    <div class="absolute left-0 top-0 w-[855px] h-full z-10">
        <img src={'https://4kwallpapers.com/images/walls/thumbs_3t/22300.jpg'} 
        alt="Background"
        class="size-[990px] object-cover blur-3xl -mt-28 object-center" 
        />
        <div class="absolute inset-0 ml-15 flex flex-col justify-between pt-24 mb-10">
            <div class="text-white flex flex-col gap-1 w-[600px]">
                <h2 class="text-4xl font-semibold font-display m-0 break-words tracking-wide">
                  Yeni çıxan oyunlar 80$ dəyərmi?
                </h2>
                <p class="text-md font-light opacity-70 mt-5 break-words font-display tracking-wide">
                  Bu ilin əvvəlində Nintendo görünməmiş bir addım atdı: O, Switch 2-nin flaqman 
                  buraxılış adı olan Mario Kart World-ün qiymətini 79,99 dollar səviyyəsində təyin etdi. 
                  Bu, illərdir 69,99 dollar səviyyəsində dayanmış əsas oyunların əsas versiyaları üçün yeni zəmin yaratdı.
                </p>
            </div>
  
            <div class="flex w-[538px] flex-row gap-6 items-center justify-between mt-10">
               <div class="flex flex-row gap-2 items-center">
                    <img src="https://miro.medium.com/v2/resize:fill:300:300/1*cqroLdqSWbISklp0mVJuvQ@2x.jpeg" alt="User" 
                    class="squircle !w-[80px] !h-[78px]" />
                   <div class="flex flex-col ml-2">
                    <span class="text-white/80 font-medium text-[15px]">Bahlul Hasanli</span>
                    <p class="text-white/50 font-light text-[11px]">10 saat əvvəl</p>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div> 
  