<div class="absolute inset-0 h-[650px] overflow-hidden -z-10">
  <img src={'https://images5.alphacoders.com/134/thumb-1920-1343612.png'}
  alt="Background"
  class="w-full h-full object-cover opacity-40" 
  />
  <div class="absolute inset-0 bg-gradient-to-t from-white to-transparent backdrop-blur-xs"></div>
</div>

<div class="max-w-5xl mx-auto w-full overflow-hidden relative h-[500px] bg-zinc-600 mt-8 rounded-xl">
    <!-- Right Side -->
    <div class="absolute right-0 top-0 w-1/2 h-full">
        <img src={'https://images5.alphacoders.com/134/thumb-1920-1343612.png'}
        alt="Game Scene"
        class="w-full h-full object-cover object-center" 
        />
    </div> 
  
      <!-- Left Side -->
    <div class="absolute left-0 top-0 w-[820px] h-full z-10">
        <img src={'https://images5.alphacoders.com/134/thumb-1920-1343612.png'}
        alt="Background"
        class="w-[730px] h-[800px] object-cover blur-3xl -mt-28 -ml-6 object-center" 
        />
        <div class="absolute inset-0 ml-15 flex flex-col justify-between pt-24 mb-10">
            <div class="text-white flex flex-col gap-1 w-[500px]">
                <h2 class="text-3xl font-semibold font-display m-0 break-words tracking-wide">
                  The Vatican Observatory Looks to the Heavens
                </h2>
                <p class="text-md font-light opacity-70 mt-2 break-words font-display tracking-wide">
                  It’s run by a Michigan-born Jesuit—and a meteorite expert—known as the Pope’s Astronomer.
                </p>
            </div>
  
            <div class="flex w-[538px] flex-row gap-6 items-center justify-between mt-10">
               <div class="flex flex-row gap-2 items-center">
                    <img src="https://miro.medium.com/v2/resize:fill:300:300/1*cqroLdqSWbISklp0mVJuvQ@2x.jpeg" alt="User" 
                    class="squircle !w-[80px] !h-[78px]" />
                   <div class="flex flex-col ml-2">
                    <span class="text-white/80 font-medium text-[15px]">Bahlul Hasanli</span>
                    <p class="text-white/50 font-light text-[11px]">10 saat əvvəl</p>
                   </div>
               </div>
            </div>
        </div>
    </div>
  </div> 
  