<div class="absolute inset-0 h-[650px] overflow-hidden -z-10">
  <img src={'https://giffiles.alphacoders.com/221/221165.gif'}
  alt="Background"
  class="w-full h-full object-cover opacity-40" 
  />
  <div class="absolute inset-0 bg-gradient-to-t from-white to-transparent backdrop-blur-xs"></div>
</div>

<div class="mx-auto max-w-7xl w-full overflow-hidden relative h-[500px] bg-zinc-600 mt-8 rounded-xl">
    <!-- Right Side -->
    <div class="absolute right-0 top-0 w-1/2 h-full">
        <img src={'https://a-static.besthdwallpaper.com/alan-wake-2-game-wallpaper-2560x1080-88461_14.jpg'}
        alt="Game Scene"
        class="w-full h-full object-cover object-center" 
        />
    </div> 
  
      <!-- Left Side -->
    <div class="absolute left-0 top-0 w-[820px] h-full z-10">
        <img src={'https://a-static.besthdwallpaper.com/alan-wake-2-game-wallpaper-2560x1080-88461_14.jpg'}
        alt="Background"
        class="w-[550px] h-[800px] object-cover blur-3xl -mt-28 -ml-6 object-center" 
        />
        <div class="absolute inset-0 ml-10 flex flex-col justify-between pt-24 mb-10">
            <div class="text-white flex flex-col gap-1 w-[400px]">
                <h2 class="text-2xl font-semibold font-display m-0 break-words tracking-wide">
                  The Vatican Observatory Looks to the Heavens
                </h2>
                <p class="text-sm font-light opacity-90 mt-2 break-words font-display tracking-wide">
                  It’s run by a Michigan-born Jesuit—and a meteorite expert—known as the Pope’s Astronomer.
                </p>
            </div>
  
            <div class="flex w-[538px] flex-row gap-6 items-center justify-between mt-10">
               <div class="flex flex-row gap-2 items-center">
                    <img src="https://untitledui.com/images/avatars/ali-mahdi" alt="User" 
                    class="squircle !size-20" />
                   <div class="flex flex-col ml-2">
                    <span class="text-white font-medium text-[15px]">Bahlul Hasanli</span>
                    <p class="text-white/60 font-light text-[11px]">10 saat əvvəl</p>
                   </div>
               </div>
            </div>
        </div>
    </div>
  </div> 
  