---
import BaseLayout from "@/layouts/BaseLayout.astro";
---
<BaseLayout>
    <div class="py-18 h-full text-center max-w-3xl mx-auto px-4">
        <h1 class="text-5xl text-balance font-light font-display text-base-900 mb-10">
            404 - Oops!
        </h1>
        <p class="text-base-600">Səhifə tapılmadı. Yenidən cəhd edin.</p>
        <a href="/" class="text-base-900 font-medium hover:underline mt-2 inline-block">
          Ana səhifəyə qayıt
        </a>
    </div>
</BaseLayout>
