---
import { isAuthenticated, getUserFromCookies, isAdmin } from "@/utils/auth";
import AdminPanel from "@/components/admin/AdminPanel.svelte";
import BaseHead from "@/components/BaseHead.astro";

const { cookies, redirect } = Astro; 

// Auth yoxlaması
if (!isAuthenticated(cookies)) {
  return redirect("/signin");
}

const user = await getUserFromCookies(cookies, redirect);

// Admin yoxlaması
const adminCheck = await isAdmin(Astro.cookies);

if (!adminCheck) {
  return new Response(null, {
    status: 404,
  }); 
}
---

<!DOCTYPE html>
<html lang="az">
  <head>
    <BaseHead title="Admin Panel" />
  </head>
  <body class="bg-base-50">
    <AdminPanel client:load user={user} />
  </body>
</html>
