---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { supabase } from "@/db/supabase";

// Supabase-dən role_id 1, 2, 3 olan istifadəçiləri çək
const { data: teamMembers, error } = await supabase
  .from("users")
  .select("id, fullname, avatar, username, role_id, roles(description)")
  .in("role_id", [1, 2, 3])
  .order("role_id", { ascending: true });

if (error) {
  console.error("Squad üzvlərini çəkərkən xəta:", error);
}

console.log(teamMembers)

 
// Avatar şəkilləri optimize et 
const optimizedMembers = await Promise.all(
  (teamMembers || []).map(async (member: any) => {
    const roleName = 
      member.roles.description 
      || "Squad üzvü";
    
    return {
      id: member.id,
      name: member.fullname,
      avatar: member.avatar,
      role: roleName,
      username: member.username
    };
  })
);
---

<BaseLayout>
  <section class="max-w-3xl mx-auto py-8 px-4 sm:px-0">
    <div class="bg-white rounded-lg p-4">
      <!-- Başlıq -->
      <div class="mb-8">
        <h1 class="text-3xl font-big-shoulders font-bold text-base-900 mb-2">
          Squad
        </h1>
        <p class="text-base-600 text-sm">
          Yaradıcı komanda
        </p>
      </div>

      <!-- Team Grid -->
      <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 max-w-3xl mx-auto gap-6">
        {optimizedMembers.map((member) => (
          <div class="flex flex-col items-center">
            <!-- Image Container -->
            <div class="mb-4 relative">
                <img 
                  src={member.avatar} 
                  alt={member.name} 
                  class="object-cover transition-all duration-300 rounded-lg squircle size-32" 
                />
            </div>
            <!-- Name -->
            <h3 class="text-base font-semibold text-base-900 text-center">
              {member.name}
            </h3>
            <!-- Role -->
            {member.role && (
              <p class="text-xs text-base-600 text-center mt-1">
                {member.role}
              </p>
            )}
          </div>
        ))}
      </div>
    </div>
  </section>
</BaseLayout>
