---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ShareEditor from "@/components/shares/ShareEditor.svelte";
import ShareTimeline from "@/components/shares/ShareTimeline.svelte";
import FixedTabBar from "@/components/tabs/FixedTabBar.astro";
import MainTabs from "@/components/tabs/MainTabs.astro";
import { isAuthenticated } from "@/utils/auth";

const isUserAuthenticated = isAuthenticated(Astro.cookies);
---

<BaseLayout>
  <section>
    <FixedTabBar activeTab="gossip" />

    <div class="py-6 sm:py-8 md:py-12 max-w-3xl mx-auto px-4 sm:px-0">
      <div class="mb-8 sm:mb-12">
        <MainTabs activeTab="gossip" />

        <div class="max-w-3xl h-full mx-auto border border-slate-100 rounded-lg overflow-hidden flex flex-col">
          {isUserAuthenticated && (
            <ShareEditor client:load />
          )}
          <div class="flex-1">
            <ShareTimeline client:load isAuthenticated={isUserAuthenticated} />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
