    <!-- Footer -->
    <footer class="text-base-800 bg-base-50 p-8 rounded-xl lg:p-10 my-10">
      <div class="mx-auto max-w-6xl flex justify-center flex-col items-center gap-5">
        <ul class="flex gap-6">
            <li><a href="/about" class="text-[13px] hover:text-base-700/80 font-semibold">HAQQINDA</a></li>
            <li><a href="/contact" class="text-[13px] hover:text-base-700/80 font-semibold">ƏLAQƏ</a></li>
            <li><a href="/advertise" class="text-[13px] hover:text-base-700/80 font-semibold">REKLAM</a></li>
            <li><a href="/vacancy" class="text-[13px] hover:text-base-700/80 font-semibold">VAKANSİYA</a></li>
            <li><a href="/vacancy" class="text-[13px] hover:text-base-700/80 font-semibold">SQUAD</a></li>
           </ul>
     
           <p class="text-[12px] text-base-700/80 text-center cursor-default">
            © 1999 - 2025 “The Doxsandoqquz”. Saytdakı materiallarda istifadə olunan bütün şəkillər, videolar və mətnlərin hüququ, müəlliflərin birbaşa özlərinə məxsusdur.
           </p>

           <div class="bg-base-200/40 text-base-700/90 text-[12px] px-5 py-1 rounded-full cursor-default">
            Burada <span class="font-semibold">+18</span> yaşından aşağı olan şəxslər üçün nəzərdə tutulmayan materiallar ola bilər.
           </div>
      </div>
    </footer>